body{
    color: white;
    background-color: black;
    font-family: "Chakra Petch" sans-serif;
    margin:0px
}

h1 {
    font-size: 40px;
}
p{
 font-size: 20px;
}

    header{
        border: 2px rgb (42,122,228);
}
    